.swipe-card {
  width: 300px;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.image {
  position: relative;
}

.todosTitle {
  position: absolute;
  top: 200px;
  width: 100%;
  left: 0;
}

.todosTitle span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
