.profileSandbox {
  height: 90px;
  width: 100%;
  background: red;
}

.avatar {
  height: 85px;
  width: 85px;
  position: relative;
  border-radius: 50px;
}


.friendSandbox {
  height: 60px;
  width: 100%;
  position: relative;
  display: inline-block;
}

.item {
    font-family: Axis;
    border: 0;
    font-variant: small-caps;
    letter-spacing: -.75px
}

.even {
  background-color: #6baf9d;
}

.odd {
  background-color: #57423f;
}

.item p {
  color: white;
}

.profileDescriptionBox {
  padding-top: 10px;
  height: 95px;
  width: 195px;
  float: right;
  letter-spacing: 1.5px;
  font-variant: small-caps;
  font-family: Axis;
  color: white;
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}



