/* Empty. Add your own CSS if you like */
.avatar {
  height: 90px;
  width: 90px;
  position: absolute;
  border-radius: 3px;
}

.friendsAvatar {
  height: 60px;
  width: 60px;
  position: relative;
  border-radius: 2px;
  top: 0;
  left: 0;
  margin-left: 10px;
}

.friendSandbox {
  height: 60px;
  width: 100%;
  position: relative;
  display: inline-block;
  margin-top: 100px;
}

.interestsButton {
  color: red;
}