<ion-view title="DoEm">

  <ion-nav-buttons side='left'>
    <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="goToDash()"></a>
  </ion-nav-buttons>

  <ion-content>

      <swipe-cards>
      <swipe-card ng-repeat="todos in toDo" ng-style="{'z-index': potentialMatches.length - 1 - $index, 'top': '0px', 'left': '0px', 'position': 'absolute'}" ng-click="openModal($index)">
        <div class='item item-image swipe-card'>
          <div class="image">
          <img ng-src={{todos.img}} ng-style="{'max-height': '100%', 'width': 'auto'}" alt="">
          <h2 class="todosTitle"><span>{{todos.title}}</span></h2>
        </div> 
      </swipe-card>
      <div class='likeOrDislike'>
        <h2>Wassup</h2>
      </div>
      </swipe-cards>
     <!-- </div ng-repeat-end> -->

  </ion-content>
</ion-view> 