<ion-view title="Events">
  <ion-nav-buttons side='left'>
    <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="profile()"></a>
  </ion-nav-buttons>
  <ion-content class="has-head">
    <div class="list">
      <a class="item item-avatar velocity-transition-bounceRightIn" data-velocity-opts="{stagger: 350}"
      href="#" 
      ng-repeat='todos in toDo'>  
      <!-- <img src={{todos.img}} ng-style="{'height': '100%'}"> -->
      <h2>{{todos.title}}</h2>
      <p>{{todos.description}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>