<ion-view title="Profile">
  <ion-content class="has-header padding">
    <div id="container">
      <div>
        <img ng-src="http://si.wsj.net/public/resources/images/BN-BY925_mag041_OZ_20140318165119.jpg" class="avatar">
      </div>
      <button class="button button-assertive interestsButton">
        my-events
      </button>
      <div class="friendSandbox">
        <span ng-repeat='friend in friends'>
          <img class='friendsAvatar'ng-src="{{friends[0].img}}">
        <span>
      </div>
      <div class="userDescriptionSandbox">
      </div>
      <div class="userDescriptionSandbox">
      </div>
      <div class="userDescriptionSandbox">
      </div>
      <button class="button button-assertive doItButton">
        DO IT
      </button>
    </div>
  </ion-content>
</ion-view>
