<ion-view title="Profile" hide-nav-bar="true">
  <ion-content ng-style="{'background':'#643551', 'padding': '15px'}">
    <div id="container">
      <div id="profileSandbox">
        <img ng-src="http://hrhq.squarespace.com/assets/images/heroes/dougcalhoun.jpg" class="avatar">
        <span class="profileDescriptionBox">
          {{user.name}}
          </br>
          Location: {{user.location}}
          </br>
          Personality: {{user.personality}}
          </br>
        </span>
      </div>

      <div class="friendSandbox">
        <h4 ng-style="{'font-family': 'Copperplate', 'color': 'white'}">My Activities<h4>
      </div>
      <ion-scroll direction="y" >
        <div class="list">
            <a class="item item" ng-class="{even: $even, odd: $odd}"
            ng-repeat="todos in myEvents" ui-sref="activities({id: $index})" ng-style="{'padding': '0'}">
            <span ng-style="{'float': 'left'}">
            <img src="{{todos.img}}" ng-style="{'height': '70px', 'width': '70px', 'display': 'inline'}">
            </span>
            <span ng-style="{'float': 'right', 'padding': '5px'}">
              <p>{{todos.title}}</p>
              <i class="icon ion-star"></i>
              <i class="icon ion-star"></i>
              <i class="icon ion-star"></i>
              <i class="ion-ios7-star-outline"></i>
              <i class="ion-ios7-star-outline"></i>
              <!-- <rating ng-model="rate" max="max"></rating> -->
            </span>
            </a> 
        </div>
      </ion-scroll>

  </ion-content>
</ion-view>

<!-- consider making main features partials for better aesthetic/organization. -->